body, button, div {
  outline: none;
}


.space-between {
  display: flex;
  justify-content: space-between;
}

button.editing {
  background-color: blue;
  color: white;
}

.table-container-border {
  border-radius: 55px;
  padding: 6px;
  border: 3px solid gray;
}

.table-container {
  border: 3px solid gray;
  padding: 30px;
  border-radius: 50px;
}
