body, button, div {
  outline: none;
}

button {
  width: 200px;
  height: 47px;
  font-size: 18px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

button.blue {
  background-color: blue;
  color: white;
}

.table-container-border {
  border-radius: 55px;
  padding: 6px;
  border: 3px solid gray;
}

.table-container {
  border: 3px solid gray;
  padding: 30px;
  border-radius: 50px;
}

.stopwatch-time {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
}
